body {
    background-color: #feffe6e4;
    color: #333333;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.profile-card {
  display: flex; 
  align-items: stretch;
  background-color: #feffe6e4;
  margin: 50px ;
  padding: 30px;
}

.profile-pic {
  margin-right: 30px; 
  border-radius: 50%;
}

a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

a:hover{
    color: #007bff;
}

h2 {
    border-top: 2px solid #333;
    margin-top: 40px;
    padding-top: 20px;
}